<br/><br/><br/>

<img src="static/images/{{vm.usuario.foto}}" border="4" class="profile-image"/>
<div>
<label class="profile-name color-white" ng-click="vm.goToProfile()"> {{vm.usuario.firstName}}
<br/>
{{vm.usuario.lastName}}</label>
</div>
<ul class="menu list-group side-menu-list" id="accordion1">
  <li class="list-group-item list-item-menu item-menu" ng-click="vm.goToUploadNotes()">Notas <span class="glyphicon glyphicon-folder-open pull-right"></span></li>
  <li class="list-group-item list-item-menu item-menu" ng-click="vm.goToAssistances()">Asistencia <span class="glyphicon glyphicon-ok pull-right "></span></li>
  <li class="list-group-item list-item-menu item-menu">Reportes <span class="glyphicon glyphicon-stats pull-right "></span></li>

  <li class="list-group-item list-item-menu item-menu" data-toggle="collapse" data-parent="#accordion1" href="#firstLink">Administración <span class="glyphicon glyphicon-tasks pull-right"></span>

    <ul id="firstLink" class="collapse list-group backgroundList">
        <li class="list-group-item colorHyperLink list-background child" ng-click="vm.goToStudents()">Estudiantes<span class="glyphicon glyphicon-user pull-right"></span></li>
        <li class="list-group-item colorHyperLink list-background child" ng-click="vm.goToCourses()">Materias<span class="glyphicon glyphicon-book pull-right"></span></li>
        <li class="list-group-item colorHyperLink list-background child" ng-click="vm.gotToEvaluations()">Evaluaciones<span class="glyphicon glyphicon-file pull-right"></span></li>
        <li class="list-group-item colorHyperLink list-background child" ng-click="vm.goToCommunities()">Comunidades<span class="glyphicon glyphicon-globe pull-right"></span></li>
    </ul>

  </li>

</ul>
