<br/><br/>
<div set-screen-height>
    <label class="element-title color-white"><span class="glyphicon glyphicon-user" style="padding-right:10px;"></span>Estudiantes</label>
    <br>
    <div class="col-sm-12" style="height: 75px;margin-bottom:25px;">
      <div class="alert alert-info sckola-alert-info
                  alert-notify animate-show-hide"
           ng-show="vm.showHelp"
           ng-click="vm.helpUser()"
           role="alert">
          <label >{{vm.helpMessage}}</label>
      </div>
      <div class="alert alert-success sckola-alert-success
                  alert-notify success animate-show-hide"
           ng-show="vm.showSuccessMessage"
           role="alert">
           {{vm.successMessage}}
      </div>
      <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
           ng-show="vm.showError" role="alert">
           {{vm.errorMessage}}
      </div>
        <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
             ng-show="vm.showMessageDate" role="alert">
            {{vm.messageDate}}
        </div>
        <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
             ng-show="vm.showMessageEmail" role="alert">
            {{vm.messageEmail}}
        </div>
    </div>
    <div class="row">
        <form role="form" name="studentForm" class="form-horizontal">
            <div class=" col-sm-12 form-section">
                <div class="col-sm-5" >
                    <label class="color-white label-form">Cédula</label>
                    <input class="form-control fillColor" name="identification" type="number" ng-model="vm.student.identification"
                           placeholder="Cedula de Identidad" required />
                    <span class="error" ng-show="!studentForm.$pristine && studentForm.identification.$error.required">La identificación es requerida.</span>
                </div>
            </div>
            <br/>
            <div class="col-sm-12 form-section">
                <div class="col-sm-6" style="padding-right: 16px">
                    <label class="color-white label-form">Primer Nombre</label>
                    <input class="form-control fillColor"  name="firstName" type="text" ng-model="vm.student.firstName"
                           ng-keyup="vm.mensageNombreError(studentForm.firstName)" placeholder="Primer Nombre"
                           ng-blur="vm.mensageNombreError(studentForm.firstName)" required />
                    <span class="error" ng-show="!studentForm.$pristine && studentForm.firstName.$error.required">El primer nombre es requerido.</span>
                </div>
                <div class="col-sm-6">
                    <label class="color-white label-form">Segundo Nombre</label>
                    <input class="form-control  fillColor" type="text" ng-model="vm.student.secondName"/>
                </div>

            </div>
            <br/>
            <div class="col-sm-12 form-section">
                <div class="col-sm-6" style="padding-right: 16px">
                    <label class="color-white label-form">Primer Apellido</label>
                    <input class="form-control fillColor" name="firstLastName" type="text" ng-model="vm.student.lastName"
                           ng-keyup="vm.mensageApellidoError(studentForm.firstLastName)" placeholder="Primer Apellido"
                           ng-blur="vm.mensageApellidoError(studentForm.firstLastName)" required/>
                    <span class="error" ng-show="!studentForm.$pristine && studentForm.firstLastName.$error.required">El primer apellido es requerido.</span>
                </div>
                <div class="col-sm-6">
                    <label class="color-white label-form">Segundo Apellido</label>
                    <input class="form-control fillColor"  type="text" ng-model="vm.student.secondLastName"/>
                </div>
            </div>
            <br/>
            <div class="col-sm-12 form-section">
                <div class="col-sm-6"  style="padding-right: 16px">
                    <label class="color-white label-form">Fecha de Nacimiento</label>
                    <input ng-model="vm.student.date" type="date" class="form-control" ng-blur="vm.validationFecha()" />
                </div>
                <div class="col-sm-6" style="padding-right: 16px">
                    <label class="color-white label-form">Sexo:</label>
                    <select ng-model="vm.student.gender" name="gender"
                            ng-options="gender for gender in vm.gender"
                            class="form-control center-block" style="padding: 0px 18px">
                    </select>
                </div>
            </div>
            <br/>
            <div class="col-sm-12 form-section">
                <div class="col-sm-6" style="padding-right: 16px">
                    <label class="color-white label-form">Email estudiante</label>
                    <input class="form-control fillColor" required name="email"  type="email" ng-model="vm.student.mail"/>
                    <span ng-show="!studentForm.$pristine && studentForm.email.$error.required">El correo es requerido.</span>
                    <span class="error" ng-show="!studentForm.$pristine && studentForm.email.$error.email">Formato de correo inválido.</span>
                </div>
                <div class="col-sm-6" style="padding-right: 16px">
                    <label class="color-white label-form">Email representante</label>
                    <input class="form-control fillColor" name="emailRepresentative" type="email" ng-model="vm.student.mailRepresentative"/>
                </div>
            </div>
        </form>
        <div style="text-align: center">
            <div class="" style="">
                <button type="button"
                        ng-disabled="!studentForm.$valid"
                        ng-click="vm.createStudent()"
                        class = "btn btn-default sckola-btn"
                        style="width: auto; margin-bottom: 4%;margin-top: 4%;margin-right: 10%;box-shadow: 6px 5px 16px 0px #252121;">
                    Guardar<span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
        </div>
    </div>
</div>
