<br/><br/>
<div set-screen-height>
  <label class="element-title color-white"><span class="glyphicon glyphicon-globe" style="padding-right:10px;"></span>Comunidades</label>
  <br/>
  <div class="row">
    <div class="col-sm-12" style="height: 75px;">
      <div class="alert alert-success sckola-alert-success alert-notify success animate-show-hide" ng-show="vm.showSuccessMessage" role="alert">{{vm.successMessage}}</div>
      <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide" ng-show="vm.showError" role="alert">{{vm.errorMessage}}</div>
      <div class="alert alert-info sckola-alert-info
                  alert-notify animate-show-hide"
           ng-show="vm.showHelp"
           ng-click="vm.helpUser()"
           role="alert">
          <label >{{vm.helpMessage}}</label></div>
    </div>
    <form role="form" name="formCommunity" class="form-horizontal">
      <div class="col-md-offset-2" style="width:60%; margin-top: 15%; margin-left: 20%;">
        <select ng-model="vm.community" name="community" required
               ng-options="community.name for community in vm.communities"
               class="form-control center-block community-combo" style="padding: 0px 18px">
           <option value="">{{ community.name }}</option>
       </select>
      </div>
    </form>
    <br/>
    <br/>
    <div class="col-md-offset-5" style="margin-left: 40%;">
      <button ng-click="vm.associateCommunity()" class="btn btn-default sckola-btn-courses shadow-feed-element" style="width: 45%;" >Guardar</button>
    </div>
  </div>
</div>
