<br/><br/><br/>

<label class="color-white" style="font-size: 120%;margin-left: 38%;">Progreso</label>
<div id="circle" style="width: 100px; height: 100px; position: relative; box-shadow: 6px 12px 12px 3px #252121; border-radius: 700px;margin-left: 35%;"></div>