<nav class="navbar navbar-inverse navbar-fixed-top" style="box-shadow: 0px 0px 10px 2px #211f1f;background-color:black">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-brand navbar-title color-white" >
       <li class="dropdown nav-title" style="color:white"><span href="#" style="font-size:35px;" class="dropdown-toggle nav-title" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Sckola<span class="glyphicon glyphicon-menu-down"
                  style="font-size: 18px;margin-left: 5px;"></span>
            </span>
            <ul id="style-1" class="dropdown-menu " style="border-radius:15px;max-height: 300px;overflow: auto;background-color: #484b4e;width:270px;box-shadow: 6px 12px 12px 3px #252121;">
              <label style="margin-left:30%" >Comunidades<span class="glyphicon glyphicon-globe"></span></label>
              <div ng-repeat="community in vm.communitiesUser" ng-click="vm.setCommunitySelected(community)"  ng-class="{'selected-community': community.id === vm.communitySelected.id}">
                <li role="separator" class="divider" style=""></li>
                 <li class="nav-list-item menu-hidden-item" ng-class="{'selected-community': community.id === vm.communitySelected.id}" style="text-align:left; display: flex;" ><button class="btn btn-default comunity-btn-list shadow-feed-element">{{community.name[0]}}</button><label   ng-click="" style="width:80%;">{{community.name}}</label> <span class="glyphicon glyphicon-ok" style="font-size: 20px; float: right; margin-top:10px; margin-right:20px;" ng-show="community.id === vm.communitySelected.id"></span></li>

               </div>
            </ul>
      </li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right ">
          <li class="item-navbar-hidden" style="width:300px;">
              <div id="progress" style="width:300px; margin-top: 10px;"></div>
          </li>
         <li class="dropdown" style="color:white;">
           <a><span class="glyphicon glyphicon-home" style="font-size: 23px;" ng-click="vm.goHome()"></span></a>
         </li>
         <li class="dropdown" style="color:white;">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               <notification-icon count="vm.notifications" ng-click="vm.resetCount()"><span class="glyphicon glyphicon-envelope" style="font-size: 23px;"></span></notification-icon>
           </a>
           <ul  id="style-1" class="dropdown-menu nav-list" style="width:130%;border-radius:15px;overflow-y: scroll;max-height: 500%;">
             <div ng-repeat="new in vm.news">
               <li class="nav-list-item" ng-if="new.type != 'INFO'" ><h4 style="margin-left:5%">{{new.from}}</h4> <h5 style="margin-left:4%;max-width:90%;">{{new.matter.name+" "+new.section.name}}</h5></li>
               <li class="nav-list-item" ng-if="new.type == 'INFO'" ><h4 style="margin-left:5%">{{new.from}}</h4> <h5 style="margin-left:4%;max-width:90%;">{{new.text}}</h5></li>
               <li role="separator" class="divider"></li>
             </div>
             <div ng-if="vm.news.length == 0">
                 <li class="nav-list-item"><h4 style="margin-left:5%">{{vm.mensage}}</h4></li>
             </div>
           </ul>
         </li>
         <li class="dropdown" style="color:white">
             <a data-toggle="collapse" data-target="#accordion2" data-parent="#navbar">
                 <span class="glyphicon glyphicon-cog" style="font-size: 23px;"></span>
             </a>


             <ul class="collapse list-group backgroundList shadow-feed-element list-menu-navbar" style="border-radius:15px; left: -230%; float:left; position: absolute; right: 0; top: 95%;" id="accordion2">
                 <li class="list-group-item colorHyperLink" style="background-color: #484b4e;"><label class="list-group color-white menu-hidden-item" ng-click="vm.goToProfile()" class="styleNavBar" style="margin-bottom: 0;">Perfil <span class="glyphicon glyphicon-user pull-right" style="margin-left: 78px;"></span></label></li>
                 <li class="list-group-item colorHyperLink item-navbar-hidden" style="background-color: #484b4e;" ng-click="vm.goToUploadNotes()"><label class="color-white menu-hidden-item styleNavBar">Notas <span class="glyphicon glyphicon-folder-open pull-right" style="margin-left: 78px"></span></label></li>
                 <li class="list-group-item colorHyperLink item-navbar-hidden" style="background-color: #484b4e;" ng-click="vm.goToAssistances()"><label class="color-white menu-hidden-item styleNavBar">Asistencia <span class="glyphicon glyphicon-ok pull-right" style="margin-left: 48px;"></span></label></li>
                 <li class="list-group-item colorHyperLink item-navbar-hidden" style="background-color: #484b4e;"><label class="color-white menu-hidden-item styleNavBar">Reportes <span class="glyphicon glyphicon-stats pull-right" style="margin-left: 57px;"></span></label></li>
                 <li class="list-group-item colorHyperLink item-navbar-hidden" style="background-color: #484b4e;" data-toggle="collapse" data-target="#secondLink" data-parent="#accordion2"><label class="color-white menu-hidden-item styleNavBar">Administración <span class="glyphicon glyphicon-tasks pull-right" style="margin-left: 18px;"></span></label>
                     <ul id="secondLink" class="collapse list-group backgroundList">
                         <li class="list-group-item colorHyperLink list-background child" style="text-align: -webkit-auto;" ng-click="vm.goToStudents()">Estudiantes<span class="glyphicon glyphicon-user pull-right"></span></li>
                         <li class="list-group-item colorHyperLink list-background child" style="text-align: -webkit-auto;" ng-click="vm.goToCourses()">Materias<span class="glyphicon glyphicon-book pull-right"></span></li>
                         <li class="list-group-item colorHyperLink list-background child" style="text-align: -webkit-auto;" ng-click="vm.gotToEvaluations()">Evaluaciones<span class="glyphicon glyphicon-file pull-right"></span></li>
                         <li class="list-group-item colorHyperLink list-background child" style="text-align: -webkit-auto;" ng-click="vm.goToCommunities()">Comunidades<span class="glyphicon glyphicon-globe pull-right"></span></li>
                     </ul>
                 <!--<li class="list-group-item colorHyperLink" style="background-color: #484b4e;"><label class="menu-hidden-item" class="color-white" class="styleNavBar">Lenguaje <span class="glyphicon glyphicon-font pull-right" style="margin-left: 50px;"></span></label></li>-->
                 <li class="list-group-item colorHyperLink" ng-click="vm.goToRoot()" style="background-color: #484b4e; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;"><label class="menu-hidden-item color-white styleNavBar">Logout <span class="glyphicon glyphicon-off pull-right" style="margin-left: 60px;"></span></label></li>
             </ul>


        </li>

      </ul>
    </div>
  </div>
</nav>
