<div class="modal-header">
    <h4>Detalle del estudiante</h4>
</div>
<div class="modal-body">
    <div>
        Estudiante : {{vm.student.firstName}} {{vm.student.secondName}} {{vm.student.lastName}} {{vm.student.secondLastName}}
    </div>
    <br>
    <div>
        Fecha de Nacimiento : {{vm.student.date}}
    </div>
    <br>
    <div>
        Correo : {{vm.student.mail}}
    </div>
    <br>
</div>