<div class="modal-content" style="background-color: #484b4e;border-color: black;">
  <div class="modal-header sckola-modal-header">
      <label class="sckola-modal-title color-white">Desasociar estudiante de la Clase</label>
  </div>
  <div class="modal-body">
      <div class="color-white" style="font-size:large">
          Estudiante : {{vm.student.firstName}} {{vm.student.secondName}} {{vm.student.lastName}} {{vm.student.secondLastName}}
      </div>
      <br>

  </div>
  <div class="modal-footer">
      <div>
          <button class="btn btn-default sckola-btn modal-list-btn" style="float: left; margin-top:0%;" ng-click="vm.cancel()">
              <span aria-hidden="true">Cancelar <span class="glyphicon glyphicon-remove"></span></span>
          </button>
          <button class="btn btn-default sckola-btn modal-list-btn" style="float: right;margin-top:0%" ng-click="vm.removeStudent()">
              <span aria-hidden="true">Aceptar<span class="glyphicon glyphicon-ok"></span></span>
          </button>
      </div>
  </div>
</div>
